In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'Nome': ['Anna', 'André', 'Vitoria'], 'Idade': [12, 25, 20], 'Signo': ['Libra', 'Touro', 'Leão'], 'Cidade': ['São Paulo', 'São Paulo', 'Assis'], 'Investimento': [100000, 50000, 500000 ]})
df.head()

      Nome  Idade  Signo     Cidade  Investimento
0     Anna     12  Libra  São Paulo        100000
1    André     25  Touro  São Paulo         50000
2  Vitoria     20   Leão      Assis        500000

In [4]:
df.dtypes
df.shape

(3, 5)

In [5]:
df.dtypes

Nome            object
Idade            int64
Signo           object
Cidade          object
Investimento     int64
dtype: object

In [6]:
nome = df.iloc[0:3, 0:1]
nome

      Nome
0     Anna
1    André
2  Vitoria

In [7]:
idade = df.iloc[0:3, 1:2]
idade

   Idade
0     12
1     25
2     20

In [8]:
signo = df.iloc[0:3, 2:3]
signo

   Signo
0  Libra
1  Touro
2   Leão

In [9]:
cidade = df.iloc[0:3, 3:4]
cidade

      Cidade
0  São Paulo
1  São Paulo
2      Assis

In [10]:
investimento = df.iloc[0:3, 4:5]
investimento

   Investimento
0        100000
1         50000
2        500000

In [12]:
df.describe(include='all')

        Nome      Idade  Signo     Cidade   Investimento
count      3   3.000000      3          3       3.000000
unique     3        NaN      3          2            NaN
top     Anna        NaN  Libra  São Paulo            NaN
freq       1        NaN      1          2            NaN
mean     NaN  19.000000    NaN        NaN  216666.666667
std      NaN   6.557439    NaN        NaN  246644.143116
min      NaN  12.000000    NaN        NaN   50000.000000
25%      NaN  16.000000    NaN        NaN   75000.000000
50%      NaN  20.000000    NaN        NaN  100000.000000
75%      NaN  22.500000    NaN        NaN  300000.000000
max      NaN  25.000000    NaN        NaN  500000.000000

In [13]:
df['Investimento']

0    100000
1     50000
2    500000
Name: Investimento, dtype: int64

In [15]:
investe = df['Investimento']
print(f'Média de investimento é: R$ {investe.mean() :.2f}')

Média de investimento é: R$ 216666.67

In [16]:
print(f'Investimento total de: R$ {investe.sum() :.2f}')

Investimento total de: R$ 650000.00

In [17]:
idades = df['Idade']
print(f'As idades somadas dão: {idades.sum()}')

As idades somadas dão: 57

In [18]:
print(f'A média de idade foi {idades.mean() :.2f}')

A média de idade foi 19.00

In [19]:
nome_e_investimento = df[['Nome', 'Investimento']]
nome_e_investimento

      Nome  Investimento
0     Anna        100000
1    André         50000
2  Vitoria        500000

In [20]:
nome_e_investimento.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Nome          3 non-null      object
 1   Investimento  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [21]:
nome_e_investimento.nsmallest(3, 'Investimento')

      Nome  Investimento
1    André         50000
0     Anna        100000
2  Vitoria        500000

In [22]:
nome_e_investimento.nlargest(3, 'Investimento')

      Nome  Investimento
2  Vitoria        500000
0     Anna        100000
1    André         50000

In [24]:
investimento_em_dolar = 5.16
df['Investimento'] = df['Investimento'] / investimento_em_dolar
df

      Nome  Idade  Signo     Cidade  Investimento
0     Anna     12  Libra  São Paulo   3755.783907
1    André     25  Touro  São Paulo   1877.891954
2  Vitoria     20   Leão      Assis  18778.919536

In [25]:
df['Investimento_Por_Idade'] = df['Investimento'] / df['Idade']
df

      Nome  Idade  Signo     Cidade  Investimento  Investimento_Por_Idade
0     Anna     12  Libra  São Paulo   3755.783907              312.981992
1    André     25  Touro  São Paulo   1877.891954               75.115678
2  Vitoria     20   Leão      Assis  18778.919536              938.945977