In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/01 annual-number-of-deaths-by-cause.csv')
df

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),...,Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Poisonings - Sex: Both - Age: All Ages (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Road injuries - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,2007,15,2933.0,1402.0,450.0,2488.0,393.0,2127.0,...,4490.0,512.0,2439.0,1199.0,7425.0,7222.0,3346.0,6458.0,481.0,3437.0
1,Afghanistan,AFG,2008,17,2731.0,1424.0,455.0,2277.0,255.0,1973.0,...,4534.0,495.0,2231.0,1092.0,7355.0,7143.0,3316.0,6408.0,462.0,3005.0
2,Afghanistan,AFG,2009,0,2460.0,1449.0,460.0,2040.0,239.0,1852.0,...,4597.0,483.0,1998.0,1065.0,7290.0,7045.0,3291.0,6358.0,448.0,2663.0
3,Afghanistan,AFG,2011,2,2327.0,1508.0,473.0,1846.0,390.0,1775.0,...,4785.0,483.0,1805.0,1525.0,7432.0,6916.0,3318.0,6370.0,448.0,2365.0
4,Afghanistan,AFG,2012,14,2254.0,1544.0,482.0,1705.0,94.0,1716.0,...,4846.0,482.0,1667.0,3521.0,7494.0,6878.0,3353.0,6398.0,445.0,2264.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6888,Zimbabwe,ZWE,2015,NaN,1439.0,754.0,215.0,3019.0,2518.0,770.0,...,2108.0,381.0,2990.0,NaN,2373.0,2751.0,1956.0,4202.0,632.0,146.0
6889,Zimbabwe,ZWE,2016,NaN,1457.0,767.0,219.0,3056.0,2050.0,801.0,...,2160.0,393.0,3027.0,NaN,2436.0,2788.0,1962.0,4264.0,648.0,146.0
6890,Zimbabwe,ZWE,2017,NaN,1460.0,781.0,223.0,2990.0,2116.0,818.0,...,2196.0,398.0,2962.0,0.0,2473.0,2818.0,2007.0,4342.0,654.0,144.0
6891,Zimbabwe,ZWE,2018,NaN,1450.0,795.0,227.0,2918.0,2088.0,825.0,...,2240.0,400.0,2890.0,NaN,2509.0,2849.0,2030.0,4377.0,657.0,139.0
6892,Zimbabwe,ZWE,2019,NaN,1450.0,812.0,232.0,2884.0,2068.0,827.0,...,2292.0,405.0,2855.0,NaN,2554.0,2891.0,2065.0,4437.0,662.0,136.0

In [ ]:
media = df.describe(include='all')
media

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),...,Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Poisonings - Sex: Both - Age: All Ages (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Road injuries - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)
count,6893,6189,6893.000000,267,6840.000000,6.840000e+03,6840.000000,6840.000000,6840.000000,6840.000000,...,6.840000e+03,6840.000000,6840.000000,2532.000000,6.840000e+03,6.840000e+03,6.840000e+03,6.840000e+03,6840.000000,6840.000000
unique,239,214,NaN,81,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Afghanistan,AFG,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,30,30,NaN,43,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,2004.490353,NaN,8213.149561,2.736319e+04,6493.627339,11006.353947,18903.160234,8619.055117,...,2.506893e+04,2145.455848,9531.528801,265.634676,3.063496e+04,9.130390e+04,3.189892e+04,5.652551e+04,3006.043275,3112.066520
std,NaN,NaN,8.653555,NaN,34982.933895,1.113146e+05,25767.447063,48289.687100,97346.780570,35879.406010,...,9.600839e+04,8433.507625,41689.675155,1813.528885,1.166999e+05,3.772013e+05,1.194387e+05,2.109884e+05,11211.885249,14440.219516
min,NaN,NaN,1990.000000,NaN,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,NaN,NaN,1997.000000,NaN,19.000000,1.287500e+02,37.000000,11.000000,0.000000,39.000000,...,2.140000e+02,8.000000,6.000000,0.000000,2.077500e+02,3.685000e+02,2.047500e+02,4.000000e+02,21.000000,2.000000
50%,NaN,NaN,2004.000000,NaN,150.500000,8.455000e+02,209.000000,159.000000,0.000000,253.000000,...,1.080000e+03,72.000000,120.000000,4.000000,1.239500e+03,2.104000e+03,1.541000e+03,2.778500e+03,152.000000,21.500000
75%,NaN,NaN,2012.000000,NaN,1622.250000,4.251000e+03,984.000000,2204.000000,1017.250000,1014.250000,...,4.497500e+03,371.000000,2120.000000,37.250000,5.786250e+03,9.013250e+03,5.670500e+03,9.594000e+03,593.250000,264.000000
max,NaN,NaN,2019.000000,NaN,432524.000000,1.623276e+06,362907.000000,757152.000000,961129.000000,460665.000000,...,1.427232e+06,92101.000000,656314.000000,44490.000000,1.285039e+06,3.974315e+06,1.472012e+06,2.557689e+06,129705.000000,166405.000000

In [ ]:
media_geral = media.iloc[4:5, 4:19]
media_geral

,Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number),Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number),Deaths - Drug use disorders - Sex: Both - Age: All Ages (Number),Deaths - Tuberculosis - Sex: Both - Age: All Ages (Number),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Lower respiratory infections - Sex: Both - Age: All Ages (Number),Deaths - Neonatal disorders - Sex: Both - Age: All Ages (Number),Deaths - Alcohol use disorders - Sex: Both - Age: All Ages (Number)
mean,8213.149561,27363.188158,6493.627339,11006.353947,18903.160234,8619.055117,10636.648684,6131.066959,28141.249415,2449.07076,37153.226608,391007.961404,69343.833187,61315.166813,4247.575

In [ ]:
mortes_por_alzheimer = df["Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)"].sum()
mortes_por_alzheimer

187164207.0

In [ ]:
mortes_por_alzheimer_AFG = df.loc[df["Entity"]=='Afghanistan']["Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)"].sum()
mortes_por_alzheimer_AFG

41998.0

In [ ]:
afg_sobre_geral = mortes_por_alzheimer_AFG / mortes_por_alzheimer
afg_sobre_geral_pctg = afg_sobre_geral * 100
print(f'O Afeganistão representa um total de % {afg_sobre_geral_pctg :.3f} em Mortes por Alzheimer no mundo todo.')

O Afeganistão representa um total de % 0.022 em Mortes por Alzheimer no mundo todo.

In [ ]:
entities = df['Entity']
entities

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
6888       Zimbabwe
6889       Zimbabwe
6890       Zimbabwe
6891       Zimbabwe
6892       Zimbabwe
Name: Entity, Length: 6893, dtype: object

In [ ]:
entidades = entities.unique()
entidades

array(['Afghanistan', 'African Region (WHO)', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'East Asia & Pacific (WB)',
       'Eastern Mediterranean Region (WHO)', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe & Central Asia (WB)',
       'European Region (WHO)', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'G20', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America & Caribbean (WB)', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Macau',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mexico', 'Micronesia (country)',
       'Middle East & North Africa (WB)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North America (WB)',
       'North Korea', 'North Macedonia', 'Northern Ireland',
       'Northern Mariana Islands', 'Norway', 'OECD Countries', 'Oman',
       'Pakistan', 'Palau', 'Palestine', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
       'Puerto Rico', 'Qatar', 'Region of the Americas (WHO)', 'Romania',
       'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia (WB)', 'South Korea', 'South Sudan',
       'South-East Asia Region (WHO)', 'Spain', 'Sri Lanka',
       'Sub-Saharan Africa (WB)', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wales', 'Wallis and Futuna', 'Western Pacific Region (WHO)',
       'Western Sahara', 'World', 'World (excluding China)',
       'World Bank High Income', 'World Bank Low Income',
       'World Bank Lower Middle Income', 'World Bank Upper Middle Income',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
for i in entidades:
  mortes_por_alzheimer_mundo = df.loc[df["Entity"]==i]["Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)"].sum()
  pais_sobre_geral = mortes_por_alzheimer_mundo / mortes_por_alzheimer
  pais_sobre_geral_pctg_mundo = pais_sobre_geral * 100
  print(f'O {i} representa um total de % {pais_sobre_geral_pctg_mundo :.3f} em Mortes por Alzheimer no mundo todo.')

O Afghanistan representa um total de % 0.022 em Mortes por Alzheimer no mundo todo.
O African Region (WHO) representa um total de % 0.669 em Mortes por Alzheimer no mundo todo.
O Albania representa um total de % 0.009 em Mortes por Alzheimer no mundo todo.
O Algeria representa um total de % 0.046 em Mortes por Alzheimer no mundo todo.
O American Samoa representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Andorra representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Angola representa um total de % 0.009 em Mortes por Alzheimer no mundo todo.
O Antigua and Barbuda representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Argentina representa um total de % 0.140 em Mortes por Alzheimer no mundo todo.
O Armenia representa um total de % 0.008 em Mortes por Alzheimer no mundo todo.
O Australia representa um total de % 0.113 em Mortes por Alzheimer no mundo todo.
O Austria representa um total de % 0.054 em Mortes por Alzheimer no mundo todo.
O Azerbaijan representa um total de % 0.013 em Mortes por Alzheimer no mundo todo.
O Bahamas representa um total de % 0.001 em Mortes por Alzheimer no mundo todo.
O Bahrain representa um total de % 0.001 em Mortes por Alzheimer no mundo todo.
O Bangladesh representa um total de % 0.122 em Mortes por Alzheimer no mundo todo.
O Barbados representa um total de % 0.001 em Mortes por Alzheimer no mundo todo.
O Belarus representa um total de % 0.045 em Mortes por Alzheimer no mundo todo.
O Belgium representa um total de % 0.074 em Mortes por Alzheimer no mundo todo.
O Belize representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Benin representa um total de % 0.007 em Mortes por Alzheimer no mundo todo.
O Bermuda representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Bhutan representa um total de % 0.001 em Mortes por Alzheimer no mundo todo.
O Bolivia representa um total de % 0.013 em Mortes por Alzheimer no mundo todo.
O Bosnia and Herzegovina representa um total de % 0.012 em Mortes por Alzheimer no mundo todo.
O Botswana representa um total de % 0.002 em Mortes por Alzheimer no mundo todo.
O Brazil representa um total de % 0.494 em Mortes por Alzheimer no mundo todo.
O Brunei representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Bulgaria representa um total de % 0.037 em Mortes por Alzheimer no mundo todo.
O Burkina Faso representa um total de % 0.013 em Mortes por Alzheimer no mundo todo.
O Burundi representa um total de % 0.005 em Mortes por Alzheimer no mundo todo.
O Cambodia representa um total de % 0.016 em Mortes por Alzheimer no mundo todo.
O Cameroon representa um total de % 0.014 em Mortes por Alzheimer no mundo todo.
O Canada representa um total de % 0.170 em Mortes por Alzheimer no mundo todo.
O Cape Verde representa um total de % 0.001 em Mortes por Alzheimer no mundo todo.
O Central African Republic representa um total de % 0.002 em Mortes por Alzheimer no mundo todo.
O Chad representa um total de % 0.008 em Mortes por Alzheimer no mundo todo.
O Chile representa um total de % 0.045 em Mortes por Alzheimer no mundo todo.
O China representa um total de % 2.875 em Mortes por Alzheimer no mundo todo.
O Colombia representa um total de % 0.110 em Mortes por Alzheimer no mundo todo.
O Comoros representa um total de % 0.001 em Mortes por Alzheimer no mundo todo.
O Congo representa um total de % 0.003 em Mortes por Alzheimer no mundo todo.
O Cook Islands representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Costa Rica representa um total de % 0.012 em Mortes por Alzheimer no mundo todo.
O Cote d'Ivoire representa um total de % 0.011 em Mortes por Alzheimer no mundo todo.
O Croatia representa um total de % 0.023 em Mortes por Alzheimer no mundo todo.
O Cuba representa um total de % 0.048 em Mortes por Alzheimer no mundo todo.
O Cyprus representa um total de % 0.003 em Mortes por Alzheimer no mundo todo.
O Czechia representa um total de % 0.055 em Mortes por Alzheimer no mundo todo.
O Democratic Republic of Congo representa um total de % 0.042 em Mortes por Alzheimer no mundo todo.
O Denmark representa um total de % 0.035 em Mortes por Alzheimer no mundo todo.
O Djibouti representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Dominica representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Dominican Republic representa um total de % 0.018 em Mortes por Alzheimer no mundo todo.
O East Asia & Pacific (WB) representa um total de % 5.575 em Mortes por Alzheimer no mundo todo.
O Eastern Mediterranean Region (WHO) representa um total de % 0.584 em Mortes por Alzheimer no mundo todo.
O Ecuador representa um total de % 0.026 em Mortes por Alzheimer no mundo todo.
O Egypt representa um total de % 0.078 em Mortes por Alzheimer no mundo todo.
O El Salvador representa um total de % 0.018 em Mortes por Alzheimer no mundo todo.
O England representa um total de % 0.344 em Mortes por Alzheimer no mundo todo.
O Equatorial Guinea representa um total de % 0.001 em Mortes por Alzheimer no mundo todo.
O Eritrea representa um total de % 0.002 em Mortes por Alzheimer no mundo todo.
O Estonia representa um total de % 0.008 em Mortes por Alzheimer no mundo todo.
O Eswatini representa um total de % 0.001 em Mortes por Alzheimer no mundo todo.
O Ethiopia representa um total de % 0.054 em Mortes por Alzheimer no mundo todo.
O Europe & Central Asia (WB) representa um total de % 4.626 em Mortes por Alzheimer no mundo todo.
O European Region (WHO) representa um total de % 4.659 em Mortes por Alzheimer no mundo todo.
O Fiji representa um total de % 0.001 em Mortes por Alzheimer no mundo todo.
O Finland representa um total de % 0.035 em Mortes por Alzheimer no mundo todo.
O France representa um total de % 0.472 em Mortes por Alzheimer no mundo todo.
O French Guiana representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O French Polynesia representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O G20 representa um total de % 12.696 em Mortes por Alzheimer no mundo todo.
O Gabon representa um total de % 0.002 em Mortes por Alzheimer no mundo todo.
O Gambia representa um total de % 0.001 em Mortes por Alzheimer no mundo todo.
O Georgia representa um total de % 0.022 em Mortes por Alzheimer no mundo todo.
O Germany representa um total de % 0.596 em Mortes por Alzheimer no mundo todo.
O Ghana representa um total de % 0.019 em Mortes por Alzheimer no mundo todo.
O Greece representa um total de % 0.066 em Mortes por Alzheimer no mundo todo.
O Greenland representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Grenada representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Guadeloupe representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Guam representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Guatemala representa um total de % 0.015 em Mortes por Alzheimer no mundo todo.
O Guinea representa um total de % 0.012 em Mortes por Alzheimer no mundo todo.
O Guinea-Bissau representa um total de % 0.001 em Mortes por Alzheimer no mundo todo.
O Guyana representa um total de % 0.001 em Mortes por Alzheimer no mundo todo.
O Haiti representa um total de % 0.008 em Mortes por Alzheimer no mundo todo.
O Honduras representa um total de % 0.010 em Mortes por Alzheimer no mundo todo.
O Hong Kong representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Hungary representa um total de % 0.055 em Mortes por Alzheimer no mundo todo.
O Iceland representa um total de % 0.002 em Mortes por Alzheimer no mundo todo.
O India representa um total de % 0.912 em Mortes por Alzheimer no mundo todo.
O Indonesia representa um total de % 0.261 em Mortes por Alzheimer no mundo todo.
O Iran representa um total de % 0.114 em Mortes por Alzheimer no mundo todo.
O Iraq representa um total de % 0.034 em Mortes por Alzheimer no mundo todo.
O Ireland representa um total de % 0.017 em Mortes por Alzheimer no mundo todo.
O Israel representa um total de % 0.026 em Mortes por Alzheimer no mundo todo.
O Italy representa um total de % 0.497 em Mortes por Alzheimer no mundo todo.
O Jamaica representa um total de % 0.009 em Mortes por Alzheimer no mundo todo.
O Japan representa um total de % 1.410 em Mortes por Alzheimer no mundo todo.
O Jordan representa um total de % 0.005 em Mortes por Alzheimer no mundo todo.
O Kazakhstan representa um total de % 0.030 em Mortes por Alzheimer no mundo todo.
O Kenya representa um total de % 0.027 em Mortes por Alzheimer no mundo todo.
O Kiribati representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Kosovo representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Kuwait representa um total de % 0.003 em Mortes por Alzheimer no mundo todo.
O Kyrgyzstan representa um total de % 0.010 em Mortes por Alzheimer no mundo todo.
O Laos representa um total de % 0.005 em Mortes por Alzheimer no mundo todo.
O Latin America & Caribbean (WB) representa um total de % 1.383 em Mortes por Alzheimer no mundo todo.
O Latvia representa um total de % 0.012 em Mortes por Alzheimer no mundo todo.
O Lebanon representa um total de % 0.012 em Mortes por Alzheimer no mundo todo.
O Lesotho representa um total de % 0.002 em Mortes por Alzheimer no mundo todo.
O Liberia representa um total de % 0.003 em Mortes por Alzheimer no mundo todo.
O Libya representa um total de % 0.011 em Mortes por Alzheimer no mundo todo.
O Lithuania representa um total de % 0.018 em Mortes por Alzheimer no mundo todo.
O Luxembourg representa um total de % 0.002 em Mortes por Alzheimer no mundo todo.
O Macau representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Madagascar representa um total de % 0.010 em Mortes por Alzheimer no mundo todo.
O Malawi representa um total de % 0.010 em Mortes por Alzheimer no mundo todo.
O Malaysia representa um total de % 0.035 em Mortes por Alzheimer no mundo todo.
O Maldives representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Mali representa um total de % 0.013 em Mortes por Alzheimer no mundo todo.
O Malta representa um total de % 0.002 em Mortes por Alzheimer no mundo todo.
O Marshall Islands representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Martinique representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Mauritania representa um total de % 0.004 em Mortes por Alzheimer no mundo todo.
O Mauritius representa um total de % 0.003 em Mortes por Alzheimer no mundo todo.
O Mexico representa um total de % 0.215 em Mortes por Alzheimer no mundo todo.
O Micronesia (country) representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Middle East & North Africa (WB) representa um total de % 0.471 em Mortes por Alzheimer no mundo todo.
O Moldova representa um total de % 0.013 em Mortes por Alzheimer no mundo todo.
O Monaco representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Mongolia representa um total de % 0.002 em Mortes por Alzheimer no mundo todo.
O Montenegro representa um total de % 0.002 em Mortes por Alzheimer no mundo todo.
O Morocco representa um total de % 0.055 em Mortes por Alzheimer no mundo todo.
O Mozambique representa um total de % 0.017 em Mortes por Alzheimer no mundo todo.
O Myanmar representa um total de % 0.069 em Mortes por Alzheimer no mundo todo.
O Namibia representa um total de % 0.002 em Mortes por Alzheimer no mundo todo.
O Nauru representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Nepal representa um total de % 0.022 em Mortes por Alzheimer no mundo todo.
O Netherlands representa um total de % 0.102 em Mortes por Alzheimer no mundo todo.
O New Caledonia representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O New Zealand representa um total de % 0.022 em Mortes por Alzheimer no mundo todo.
O Nicaragua representa um total de % 0.007 em Mortes por Alzheimer no mundo todo.
O Niger representa um total de % 0.008 em Mortes por Alzheimer no mundo todo.
O Nigeria representa um total de % 0.129 em Mortes por Alzheimer no mundo todo.
O Niue representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O North America (WB) representa um total de % 1.934 em Mortes por Alzheimer no mundo todo.
O North Korea representa um total de % 0.047 em Mortes por Alzheimer no mundo todo.
O North Macedonia representa um total de % 0.005 em Mortes por Alzheimer no mundo todo.
O Northern Ireland representa um total de % 0.009 em Mortes por Alzheimer no mundo todo.
O Northern Mariana Islands representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Norway representa um total de % 0.035 em Mortes por Alzheimer no mundo todo.
O OECD Countries representa um total de % 7.432 em Mortes por Alzheimer no mundo todo.
O Oman representa um total de % 0.002 em Mortes por Alzheimer no mundo todo.
O Pakistan representa um total de % 0.130 em Mortes por Alzheimer no mundo todo.
O Palau representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Palestine representa um total de % 0.003 em Mortes por Alzheimer no mundo todo.
O Panama representa um total de % 0.010 em Mortes por Alzheimer no mundo todo.
O Papua New Guinea representa um total de % 0.004 em Mortes por Alzheimer no mundo todo.
O Paraguay representa um total de % 0.013 em Mortes por Alzheimer no mundo todo.
O Peru representa um total de % 0.064 em Mortes por Alzheimer no mundo todo.
O Philippines representa um total de % 0.107 em Mortes por Alzheimer no mundo todo.
O Poland representa um total de % 0.193 em Mortes por Alzheimer no mundo todo.
O Portugal representa um total de % 0.063 em Mortes por Alzheimer no mundo todo.
O Puerto Rico representa um total de % 0.020 em Mortes por Alzheimer no mundo todo.
O Qatar representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Region of the Americas (WHO) representa um total de % 3.297 em Mortes por Alzheimer no mundo todo.
O Romania representa um total de % 0.090 em Mortes por Alzheimer no mundo todo.
O Russia representa um total de % 0.519 em Mortes por Alzheimer no mundo todo.
O Rwanda representa um total de % 0.007 em Mortes por Alzheimer no mundo todo.
O Saint Kitts and Nevis representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Saint Lucia representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Saint Vincent and the Grenadines representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Samoa representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O San Marino representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Sao Tome and Principe representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Saudi Arabia representa um total de % 0.019 em Mortes por Alzheimer no mundo todo.
O Scotland representa um total de % 0.032 em Mortes por Alzheimer no mundo todo.
O Senegal representa um total de % 0.012 em Mortes por Alzheimer no mundo todo.
O Serbia representa um total de % 0.031 em Mortes por Alzheimer no mundo todo.
O Seychelles representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Sierra Leone representa um total de % 0.006 em Mortes por Alzheimer no mundo todo.
O Singapore representa um total de % 0.011 em Mortes por Alzheimer no mundo todo.
O Slovakia representa um total de % 0.023 em Mortes por Alzheimer no mundo todo.
O Slovenia representa um total de % 0.013 em Mortes por Alzheimer no mundo todo.
O Solomon Islands representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Somalia representa um total de % 0.005 em Mortes por Alzheimer no mundo todo.
O South Africa representa um total de % 0.076 em Mortes por Alzheimer no mundo todo.
O South Asia (WB) representa um total de % 1.250 em Mortes por Alzheimer no mundo todo.
O South Korea representa um total de % 0.145 em Mortes por Alzheimer no mundo todo.
O South Sudan representa um total de % 0.006 em Mortes por Alzheimer no mundo todo.
O South-East Asia Region (WHO) representa um total de % 1.654 em Mortes por Alzheimer no mundo todo.
O Spain representa um total de % 0.352 em Mortes por Alzheimer no mundo todo.
O Sri Lanka representa um total de % 0.040 em Mortes por Alzheimer no mundo todo.
O Sub-Saharan Africa (WB) representa um total de % 0.660 em Mortes por Alzheimer no mundo todo.
O Sudan representa um total de % 0.033 em Mortes por Alzheimer no mundo todo.
O Suriname representa um total de % 0.001 em Mortes por Alzheimer no mundo todo.
O Sweden representa um total de % 0.079 em Mortes por Alzheimer no mundo todo.
O Switzerland representa um total de % 0.059 em Mortes por Alzheimer no mundo todo.
O Syria representa um total de % 0.017 em Mortes por Alzheimer no mundo todo.
O Taiwan representa um total de % 0.073 em Mortes por Alzheimer no mundo todo.
O Tajikistan representa um total de % 0.008 em Mortes por Alzheimer no mundo todo.
O Tanzania representa um total de % 0.036 em Mortes por Alzheimer no mundo todo.
O Thailand representa um total de % 0.179 em Mortes por Alzheimer no mundo todo.
O Timor representa um total de % 0.001 em Mortes por Alzheimer no mundo todo.
O Togo representa um total de % 0.004 em Mortes por Alzheimer no mundo todo.
O Tokelau representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Tonga representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Trinidad and Tobago representa um total de % 0.003 em Mortes por Alzheimer no mundo todo.
O Tunisia representa um total de % 0.025 em Mortes por Alzheimer no mundo todo.
O Turkey representa um total de % 0.200 em Mortes por Alzheimer no mundo todo.
O Turkmenistan representa um total de % 0.006 em Mortes por Alzheimer no mundo todo.
O Tuvalu representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Uganda representa um total de % 0.018 em Mortes por Alzheimer no mundo todo.
O Ukraine representa um total de % 0.198 em Mortes por Alzheimer no mundo todo.
O United Arab Emirates representa um total de % 0.001 em Mortes por Alzheimer no mundo todo.
O United Kingdom representa um total de % 0.406 em Mortes por Alzheimer no mundo todo.
O United States representa um total de % 1.765 em Mortes por Alzheimer no mundo todo.
O United States Virgin Islands representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Uruguay representa um total de % 0.018 em Mortes por Alzheimer no mundo todo.
O Uzbekistan representa um total de % 0.022 em Mortes por Alzheimer no mundo todo.
O Vanuatu representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Venezuela representa um total de % 0.058 em Mortes por Alzheimer no mundo todo.
O Vietnam representa um total de % 0.197 em Mortes por Alzheimer no mundo todo.
O Wales representa um total de % 0.022 em Mortes por Alzheimer no mundo todo.
O Wallis and Futuna representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O Western Pacific Region (WHO) representa um total de % 4.980 em Mortes por Alzheimer no mundo todo.
O Western Sahara representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O World representa um total de % 15.914 em Mortes por Alzheimer no mundo todo.
O World (excluding China) representa um total de % 0.000 em Mortes por Alzheimer no mundo todo.
O World Bank High Income representa um total de % 7.178 em Mortes por Alzheimer no mundo todo.
O World Bank Low Income representa um total de % 0.413 em Mortes por Alzheimer no mundo todo.
O World Bank Lower Middle Income representa um total de % 2.676 em Mortes por Alzheimer no mundo todo.
O World Bank Upper Middle Income representa um total de % 5.638 em Mortes por Alzheimer no mundo todo.
O Yemen representa um total de % 0.017 em Mortes por Alzheimer no mundo todo.
O Zambia representa um total de % 0.007 em Mortes por Alzheimer no mundo todo.
O Zimbabwe representa um total de % 0.011 em Mortes por Alzheimer no mundo todo.

In [ ]:
infos_pctg_mortes_pais = {}
for g in entidades:
  mortes_por_alzheimer_mundo = df.loc[df["Entity"]==g]["Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number)"].sum()
  pais_sobre_geral = mortes_por_alzheimer_mundo / mortes_por_alzheimer
  pais_sobre_geral_pctg_mundo = pais_sobre_geral * 100
  infos_pctg_mortes_pais[g] = round(pais_sobre_geral_pctg_mundo, 2)

infos_pctg_mortes_pais

{'Afghanistan': 0.02,
 'African Region (WHO)': 0.67,
 'Albania': 0.01,
 'Algeria': 0.05,
 'American Samoa': 0.0,
 'Andorra': 0.0,
 'Angola': 0.01,
 'Antigua and Barbuda': 0.0,
 'Argentina': 0.14,
 'Armenia': 0.01,
 'Australia': 0.11,
 'Austria': 0.05,
 'Azerbaijan': 0.01,
 'Bahamas': 0.0,
 'Bahrain': 0.0,
 'Bangladesh': 0.12,
 'Barbados': 0.0,
 'Belarus': 0.04,
 'Belgium': 0.07,
 'Belize': 0.0,
 'Benin': 0.01,
 'Bermuda': 0.0,
 'Bhutan': 0.0,
 'Bolivia': 0.01,
 'Bosnia and Herzegovina': 0.01,
 'Botswana': 0.0,
 'Brazil': 0.49,
 'Brunei': 0.0,
 'Bulgaria': 0.04,
 'Burkina Faso': 0.01,
 'Burundi': 0.01,
 'Cambodia': 0.02,
 'Cameroon': 0.01,
 'Canada': 0.17,
 'Cape Verde': 0.0,
 'Central African Republic': 0.0,
 'Chad': 0.01,
 'Chile': 0.04,
 'China': 2.88,
 'Colombia': 0.11,
 'Comoros': 0.0,
 'Congo': 0.0,
 'Cook Islands': 0.0,
 'Costa Rica': 0.01,
 "Cote d'Ivoire": 0.01,
 'Croatia': 0.02,
 'Cuba': 0.05,
 'Cyprus': 0.0,
 'Czechia': 0.06,
 'Democratic Republic of Congo': 0.04,
 'Denmark': 0.04,
 'Djibouti': 0.0,
 'Dominica': 0.0,
 'Dominican Republic': 0.02,
 'East Asia & Pacific (WB)': 5.58,
 'Eastern Mediterranean Region (WHO)': 0.58,
 'Ecuador': 0.03,
 'Egypt': 0.08,
 'El Salvador': 0.02,
 'England': 0.34,
 'Equatorial Guinea': 0.0,
 'Eritrea': 0.0,
 'Estonia': 0.01,
 'Eswatini': 0.0,
 'Ethiopia': 0.05,
 'Europe & Central Asia (WB)': 4.63,
 'European Region (WHO)': 4.66,
 'Fiji': 0.0,
 'Finland': 0.03,
 'France': 0.47,
 'French Guiana': 0.0,
 'French Polynesia': 0.0,
 'G20': 12.7,
 'Gabon': 0.0,
 'Gambia': 0.0,
 'Georgia': 0.02,
 'Germany': 0.6,
 'Ghana': 0.02,
 'Greece': 0.07,
 'Greenland': 0.0,
 'Grenada': 0.0,
 'Guadeloupe': 0.0,
 'Guam': 0.0,
 'Guatemala': 0.02,
 'Guinea': 0.01,
 'Guinea-Bissau': 0.0,
 'Guyana': 0.0,
 'Haiti': 0.01,
 'Honduras': 0.01,
 'Hong Kong': 0.0,
 'Hungary': 0.05,
 'Iceland': 0.0,
 'India': 0.91,
 'Indonesia': 0.26,
 'Iran': 0.11,
 'Iraq': 0.03,
 'Ireland': 0.02,
 'Israel': 0.03,
 'Italy': 0.5,
 'Jamaica': 0.01,
 'Japan': 1.41,
 'Jordan': 0.01,
 'Kazakhstan': 0.03,
 'Kenya': 0.03,
 'Kiribati': 0.0,
 'Kosovo': 0.0,
 'Kuwait': 0.0,
 'Kyrgyzstan': 0.01,
 'Laos': 0.01,
 'Latin America & Caribbean (WB)': 1.38,
 'Latvia': 0.01,
 'Lebanon': 0.01,
 'Lesotho': 0.0,
 'Liberia': 0.0,
 'Libya': 0.01,
 'Lithuania': 0.02,
 'Luxembourg': 0.0,
 'Macau': 0.0,
 'Madagascar': 0.01,
 'Malawi': 0.01,
 'Malaysia': 0.03,
 'Maldives': 0.0,
 'Mali': 0.01,
 'Malta': 0.0,
 'Marshall Islands': 0.0,
 'Martinique': 0.0,
 'Mauritania': 0.0,
 'Mauritius': 0.0,
 'Mexico': 0.22,
 'Micronesia (country)': 0.0,
 'Middle East & North Africa (WB)': 0.47,
 'Moldova': 0.01,
 'Monaco': 0.0,
 'Mongolia': 0.0,
 'Montenegro': 0.0,
 'Morocco': 0.05,
 'Mozambique': 0.02,
 'Myanmar': 0.07,
 'Namibia': 0.0,
 'Nauru': 0.0,
 'Nepal': 0.02,
 'Netherlands': 0.1,
 'New Caledonia': 0.0,
 'New Zealand': 0.02,
 'Nicaragua': 0.01,
 'Niger': 0.01,
 'Nigeria': 0.13,
 'Niue': 0.0,
 'North America (WB)': 1.93,
 'North Korea': 0.05,
 'North Macedonia': 0.0,
 'Northern Ireland': 0.01,
 'Northern Mariana Islands': 0.0,
 'Norway': 0.03,
 'OECD Countries': 7.43,
 'Oman': 0.0,
 'Pakistan': 0.13,
 'Palau': 0.0,
 'Palestine': 0.0,
 'Panama': 0.01,
 'Papua New Guinea': 0.0,
 'Paraguay': 0.01,
 'Peru': 0.06,
 'Philippines': 0.11,
 'Poland': 0.19,
 'Portugal': 0.06,
 'Puerto Rico': 0.02,
 'Qatar': 0.0,
 'Region of the Americas (WHO)': 3.3,
 'Romania': 0.09,
 'Russia': 0.52,
 'Rwanda': 0.01,
 'Saint Kitts and Nevis': 0.0,
 'Saint Lucia': 0.0,
 'Saint Vincent and the Grenadines': 0.0,
 'Samoa': 0.0,
 'San Marino': 0.0,
 'Sao Tome and Principe': 0.0,
 'Saudi Arabia': 0.02,
 'Scotland': 0.03,
 'Senegal': 0.01,
 'Serbia': 0.03,
 'Seychelles': 0.0,
 'Sierra Leone': 0.01,
 'Singapore': 0.01,
 'Slovakia': 0.02,
 'Slovenia': 0.01,
 'Solomon Islands': 0.0,
 'Somalia': 0.0,
 'South Africa': 0.08,
 'South Asia (WB)': 1.25,
 'South Korea': 0.15,
 'South Sudan': 0.01,
 'South-East Asia Region (WHO)': 1.65,
 'Spain': 0.35,
 'Sri Lanka': 0.04,
 'Sub-Saharan Africa (WB)': 0.66,
 'Sudan': 0.03,
 'Suriname': 0.0,
 'Sweden': 0.08,
 'Switzerland': 0.06,
 'Syria': 0.02,
 'Taiwan': 0.07,
 'Tajikistan': 0.01,
 'Tanzania': 0.04,
 'Thailand': 0.18,
 'Timor': 0.0,
 'Togo': 0.0,
 'Tokelau': 0.0,
 'Tonga': 0.0,
 'Trinidad and Tobago': 0.0,
 'Tunisia': 0.02,
 'Turkey': 0.2,
 'Turkmenistan': 0.01,
 'Tuvalu': 0.0,
 'Uganda': 0.02,
 'Ukraine': 0.2,
 'United Arab Emirates': 0.0,
 'United Kingdom': 0.41,
 'United States': 1.76,
 'United States Virgin Islands': 0.0,
 'Uruguay': 0.02,
 'Uzbekistan': 0.02,
 'Vanuatu': 0.0,
 'Venezuela': 0.06,
 'Vietnam': 0.2,
 'Wales': 0.02,
 'Wallis and Futuna': 0.0,
 'Western Pacific Region (WHO)': 4.98,
 'Western Sahara': 0.0,
 'World': 15.91,
 'World (excluding China)': 0.0,
 'World Bank High Income': 7.18,
 'World Bank Low Income': 0.41,
 'World Bank Lower Middle Income': 2.68,
 'World Bank Upper Middle Income': 5.64,
 'Yemen': 0.02,
 'Zambia': 0.01,
 'Zimbabwe': 0.01}

In [ ]:
media_geral_groupby = df.groupby(df.index).sum()
media_geral_groupby

,Year,Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number),Deaths - Nutritional deficiencies - Sex: Both - Age: All Ages (Number),Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),Deaths - Maternal disorders - Sex: Both - Age: All Ages (Number),Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Number),...,Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Poisonings - Sex: Both - Age: All Ages (Number),Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Road injuries - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number)
0,2007,2933.0,1402.0,450.0,2488.0,393.0,2127.0,3657.0,4990.0,148.0,...,4490.0,512.0,2439.0,1199.0,7425.0,7222.0,3346.0,6458.0,481.0,3437.0
1,2008,2731.0,1424.0,455.0,2277.0,255.0,1973.0,3785.0,5020.0,157.0,...,4534.0,495.0,2231.0,1092.0,7355.0,7143.0,3316.0,6408.0,462.0,3005.0
2,2009,2460.0,1449.0,460.0,2040.0,239.0,1852.0,3874.0,5013.0,167.0,...,4597.0,483.0,1998.0,1065.0,7290.0,7045.0,3291.0,6358.0,448.0,2663.0
3,2011,2327.0,1508.0,473.0,1846.0,390.0,1775.0,4170.0,4857.0,184.0,...,4785.0,483.0,1805.0,1525.0,7432.0,6916.0,3318.0,6370.0,448.0,2365.0
4,2012,2254.0,1544.0,482.0,1705.0,94.0,1716.0,4245.0,4736.0,191.0,...,4846.0,482.0,1667.0,3521.0,7494.0,6878.0,3353.0,6398.0,445.0,2264.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6888,2015,1439.0,754.0,215.0,3019.0,2518.0,770.0,1302.0,1355.0,29162.0,...,2108.0,381.0,2990.0,0.0,2373.0,2751.0,1956.0,4202.0,632.0,146.0
6889,2016,1457.0,767.0,219.0,3056.0,2050.0,801.0,1342.0,1338.0,27141.0,...,2160.0,393.0,3027.0,0.0,2436.0,2788.0,1962.0,4264.0,648.0,146.0
6890,2017,1460.0,781.0,223.0,2990.0,2116.0,818.0,1363.0,1312.0,24846.0,...,2196.0,398.0,2962.0,0.0,2473.0,2818.0,2007.0,4342.0,654.0,144.0
6891,2018,1450.0,795.0,227.0,2918.0,2088.0,825.0,1396.0,1294.0,22106.0,...,2240.0,400.0,2890.0,0.0,2509.0,2849.0,2030.0,4377.0,657.0,139.0
6892,2019,1450.0,812.0,232.0,2884.0,2068.0,827.0,1434.0,1294.0,20722.0,...,2292.0,405.0,2855.0,0.0,2554.0,2891.0,2065.0,4437.0,662.0,136.0